.CarouselSect {
    margin-bottom: 2%;
}


.LandingPage {
    display: flex;
    flex-direction: column;
    background-color: #10012b;
    background-image: linear-gradient(#17023f3b, #17023f, #17023f46);
    align-items: center;     

}
  
.navContainer{
    /* border: 3px solid rgb(255, 208, 0); */
    width:100%; 
    
}

.Table {
    padding: 0 5%;
}